<!-- Body sections-->
<div class="container-fluid">
	<div class="row ">
		<div class="grow-col">
		</div>
		<div class="grow-col text-center">
			<div>
				<img src={{wallet.currency.image}} alt="{{wallet.currency.name}}" class="rounded-circle img-responsive img-avatar">
			</div>
		</div>
		<div class="grow-col text-center text-big-l weight-500">
			<p>{{wallet.currency.name}}</p>
		</div>
		<div class="grow-col text-center text-big">
			<p class="grey-fnt">{{wallet.amount}}</p>
		</div>
		<div class="grow-col-2">
		</div>
		<div class="grow-col-6 text-center item-vertical">
			<p class="weight-500">Fecha última Operación</p>
			<p class="grey-fnt">{{date | date:'dd-MM-yyyy HH:mm ':'-0400'}}</p>
		</div>
	</div>

	<hr class="hr-no-visible">
	<div class="row">
		<div class="col-md-12">
			<div>
				<div class="mrg-bottom-15">
					<strong>Historial de Transacciones </strong>
				</div>
				<!--Card content-->
				<div>
					<table class="table">
						<thead>
							<tr>
								<th class="weight-500">#</th>
								<th class="weight-500">Tipo de Transaccion</th>
								<th class="weight-500">Fecha</th>
								<th class="weight-500">Referencia</th>
								<th class="weight-500">Monto</th>
								<th class="weight-500">Total</th>
							</tr>
						</thead>
						<tbody>
							<tr *ngFor="let transaction of transactions">
								<th class="body grey-dark-fnt" scope="row">1</th>
								<td class="body grey-dark-fnt">Transferencia</td>
								<td class="body grey-dark-fnt">07/06/2017</td>
								<td class="body grey-dark-fnt">0019911</td>
								<td class="body grey-dark-fnt">50$</td>
								<td class="body grey-dark-fnt">10$</td>
							</tr>
							<tr>
								<th class="body grey-dark-fnt" scope="row">2</th>
								<td class="body grey-dark-fnt">Deposito</td>
								<td class="body grey-dark-fnt">07/06/2017</td>
								<td class="body grey-dark-fnt">0094785</td>
								<td class="body grey-dark-fnt">10$</td>
								<td class="body grey-dark-fnt">65$</td>
							</tr>
							<tr>
								<th class="body grey-dark-fnt" scope="row">3</th>
								<td class="body grey-dark-fnt">Transferencia</td>
								<td class="body grey-dark-fnt">06/06/2017</td>
								<td class="body grey-dark-fnt">0091733</td>
								<td class="body grey-dark-fnt">20$</td>
								<td class="body grey-dark-fnt">55$</td>
							</tr>
							<tr>
								<th class="body grey-dark-fnt" scope="row">4</th>
								<td class="body grey-dark-fnt">Deposito</td>
								<td class="body grey-dark-fnt">05/06/2017</td>
								<td class="body grey-dark-fnt">0091768</td>
								<td class="body grey-dark-fnt">10$</td>
								<td class="body grey-dark-fnt">75$</td>
							</tr>
							<tr>
								<th class="body grey-dark-fnt" scope="row">5</th>
								<td class="body grey-dark-fnt">Deposito</td>
								<td class="body grey-dark-fnt">01/06/2017</td>
								<td class="body grey-dark-fnt">1233354</td>
								<td class="body grey-dark-fnt">10$</td>
								<td class="body grey-dark-fnt">65$</td>
							</tr>
						</tbody>
					</table>
				</div>
				<div>
					<!--Pagination blue-->
					<nav>
						<ul class="pagination justify-content-center">
							<!--Arrow left-->
							<li class="page-item">
								<a class="page-link" aria-label="Previous">
									<span aria-hidden="true">&laquo;</span>
									<span class="sr-only">Previous</span>
								</a>
							</li>

							<!--Numbers-->
							<li class="page-item active"><a class="page-link">1</a></li>
							<li class="page-item"><a class="page-link">2</a></li>
							<li class="page-item"><a class="page-link">3</a></li>
							<li class="page-item"><a class="page-link">4</a></li>
							<li class="page-item"><a class="page-link">5</a></li>

							<!--Arrow right-->
							<li class="page-item">
								<a class="page-link" aria-label="Next">
									<span aria-hidden="true">&raquo;</span>
									<span class="sr-only">Next</span>
								</a>
							</li>
						</ul>
					</nav>
					<!--/Pagination blue-->
				</div>
			</div>
		</div>
	</div>
</div>