    <!-- Body sections-->
    <div class="container-fluid sh4">
      <div class="divider-new d-extra-top"></div>

      <div class="row">
          <div class="col-md-5 wow fadeInUp" data-wow-delay="0.3s">
              <img src="../assets/img/background/section-a.jpg" class="img-fluid rounded mx-auto d-block z-depth-2">
          </div>            

          <div class="col-md-7 wow fadeInDown text-center" data-wow-delay="0.4s">
              <h1>Le provee un servicio</h1>
              <h4>
                  Que le permite enviar pagos a la cuenta del vendedor con tu tarjeta de crédito
                  <hr>
                  Teniendo la certeza de que tus pagos en línea son seguros.
                  <br>
                  <small class="text-muted">Sin compartir tu información financiera.</small>
              </h4>
          </div>            
      </div>
    </div>