<div class="row">
    <div class="offset-md-3 col-md-6 offset-lg-3 col-lg-6">
        <div class="container">
            <div class="row justify-content-md-center">
                <div class="pricing-table pricing-table-style-lighter pricing-table-preferred-variant-1 col-md-4" [routerLink]="['/panel/crypto/transfer']">
                    <!-- pricing-table-header -->
                    <div flex layout="row" layout-align="center center" class="pricing-table-header blue-dark-new">
                        <h4 class="pricing-table-heading text-center pad-20 weight-500">
                            Criptomoneda
                        </h4>
                    </div>
                    <!--/ pricing-table-header -->

                    <!-- pricing-table-body -->
                    <div class="pricing-table-body text-center">
                        <p class="mrg-30">Transferencias en criptomonedas</p>
                    </div>
                    <!--/ pricing-table-body -->
                </div>
                <div class="pricing-table pricing-table-style-lighter pricing-table-preferred-variant-1 col-md-4" [routerLink]="['/panel/balance/add']">
                    <!-- pricing-table-header -->
                    <div class="pricing-table-header blue-dark-new">
                        <h4 class="pricing-table-heading text-center pad-20 weight-500">
                            Transferencia Bancaria
                        </h4>
                    </div>
                    <!--/ pricing-table-header -->

                    <!-- pricing-table-body -->
                    <div class="pricing-table-body text-center">
                        <p class="mrg-30">Transferencias Internacional, Transferencia Bancaria</p>
                    </div>
                    <!--/ pricing-table-body -->
                </div>
                <div class="pricing-table pricing-table-style-lighter pricing-table-preferred-variant-1 col-md-4" [routerLink]="['/panel/balance/add']">
                    <!-- pricing-table-header -->
                    <div class="pricing-table-header blue-dark-new">
                        <h4 class="pricing-table-heading text-center pad-20 weight-500">
                            Efectivo
                        </h4>
                    </div>
                    <!--/ pricing-table-header -->

                    <!-- pricing-table-body -->
                    <div class="pricing-table-body text-center">
                        <p class="mrg-30">Deposito en Sucursal Bancaria</p>
                    </div>
                    <!--/ pricing-table-body -->
                </div>
            </div>
        </div>
    </div>
</div>
<router-outlet></router-outlet>