    <!-- Footer -->
    <footer class="flex-rw">
      <ul class="footer-list-top">
        <img src="../assets/img/logo/logo.png" class="img-fluid wow fadeInLeft footer-logo" alt="Ubblet Pay">
      </ul>

      <ul class="footer-list-top">
        <li><h3 class="footer-list-header">CARACTERÍSTICAS</h3></li>
        <li><a href='#' class="generic-anchor footer-list-anchor">Pague en línea</a></li>
        <li><a href='#' class="generic-anchor footer-list-anchor">Transferencia de dinero</a></li>
        <li><a href='#' class="generic-anchor footer-list-anchor">Sorteos</a></li>
        <li><a href='#' class="generic-anchor footer-list-anchor">Seguridad</a></li>
      </ul>

      <ul class="footer-list-top">
        <li id='help'><h3 class="footer-list-header">NOSOTROS</h3></li>
        <li><a href='#' class="generic-anchor footer-list-anchor"> Ubblet Shopping</a></li>
        <li><a href='#' class="generic-anchor footer-list-anchor"> Ubblet Clic</a></li>
      </ul>

      <section class="footer-social-section flex-rw">
          <span class="footer-social-overlap footer-social-connect">
            Síguenos<span class="footer-social-small">en nuestras redes</span>
          </span>
          <span class="footer-social-overlap footer-social-icons-wrapper">
          <a href="#" class="generic-anchor" title="Pinterest"><i class="fa fa-lg fa-pinterest"></i></a>
          <a href="#" class="generic-anchor" title="Facebook"><i class="fa fa-lg fa-facebook"></i></a>
          <a href="#" class="generic-anchor" title="Twitter"><i class="fa fa-lg fa-twitter"></i></a>
          <a href="#" class="generic-anchor" title="Instagram"><i class="fa fa-lg fa-instagram"></i></a>
          <a href="#" class="generic-anchor" title="Youtube"><i class="fa fa-lg fa-youtube"></i></a>
          <a href="#" class="generic-anchor" title="Google Plus"><i class="fa fa-lg fa-google-plus"></i></a>
          </span>
      </section>
      <section class="footer-bottom-section flex-rw">

        <div class="footer-bottom-wrapper">   
            <i class="fa fa-copyright" role="copyright"></i>
            2017 Venezuela en
            <address class="footer-address" role="company address">Caracas, Distrito Capital</address>
            <span class="footer-bottom-rights">Todos los derechos reservados</span>
        </div>
      </section>
    </footer>
